@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:wght@300&family=Patrick+Hand&display=swap');

:root {
    --openTit: 'Open Sans', sans-serif;
    --montTit: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: 1200px;
}

.container {
    max-width: 1000px;
    margin: auto;
}

header {
    background-image: url('../img/cidir.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 200px;
}

header nav {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    align-items: center;
}

header nav i {
    color: #fff;
    font-size: 30px;
}

.header_body h1 {
    font: 300 52px var(--openTit);
    letter-spacing: 2px;
    color: #ffffff;
    text-align: center;
    margin: 150px 0 25px 0;
}

.header_body form {
    display: flex;
    justify-content: center;
}

.inp {
    width: 326px;
    height: 40px;
    background-color: #ffffff;
    border: none;
    outline: none;
    padding-left: 15px;

    font: 400 16px var(--openTit);
    letter-spacing: 1px;
    color: #8b8b8b;
    text-align: left;
}


.btn {
    width: 122px;
    height: 40px;
    background-color: #fd4f32;
    border: none;
    outline: none;

    font: bold 16px var(--openTit);
    letter-spacing: 1px;
    color: #ffffff;
    text-align: center;
}


/* header end */




/* 2nd page start  */



#destinations {
    background-color: #eeeeee;
    padding-bottom: 100px;
}


#destinations h1 {
    font: 400 16px var(--montTit);
    letter-spacing: 0px;
    text-transform: uppercase;
    color: #323232;
    text-align: left;
    padding-top: 60px;
}

#destinations p {
    font: 400 15px var(--openTit);
    font-size: 15px;
    letter-spacing: 0px;
    color: #8b8b8b;
    font-weight: 400;
    font-family: "Open Sans";
    text-align: left;
    margin: 15px 0 60px 0;

}

.destinations_body {
    display: flex;
    justify-content: space-between;

}

.destinations_body div {
    background-color: #fff;

}

.destinations_body img {
    width: 240px;
    object-fit: cover;
    object-position: center;

}

.destinations_body .region_names {

    font: 400 14px var(--montTit);
    letter-spacing: 0px;
    text-transform: uppercase;
    color: #323232;
    padding: 20px 0 0 20px;
}

.destinations_body p {
    width: 204px;
    height: 40px;
    font: 400 13px var(--openTit);
    line-height: 19px;
    color: #696969;
    padding-left: 20px;
}



/* 2nd page end */





/* 3rd page start */

#last_page {
    background-color: #fff;
    padding-bottom: 80px;

}

#last_page h1 {
    font: 300 52px var(--openTit);
    letter-spacing: 2px;
    color: #323232;
    text-align: left;
    padding-top: 80px;
    margin-bottom: 70px;
}

.last_page_body {
    display: flex;
    justify-content: space-between;
}

.last_page_body div {
    margin-right: 70px;
}


.body_name {
    font: 400 16px var(--montTit);
    letter-spacing: 0px;
    text-transform: uppercase;
    color: #323232;
    text-align: left;
}

.last_page_body p {
    font: 400 15px var(--openTit);
    letter-spacing: 0px;
    line-height: 22px;
    color: #8b8b8b;
    text-align: left;
}

#last_page h5 {
    font: 400 16px var(--montTit);
    letter-spacing: 0px;
    text-transform: uppercase;
    color: #323232;
    text-align: center;
    margin: 70px 0 40px 0;
}

#last_page form {
    display: flex;
    justify-content: center;
}

#last_page form input {
    background-color: #eeeeee;
}


/* last page end  */



/* footer start */


footer {
    background-color: #eeeeee;
    padding: 30px 0;
}

.footer_body {
    display: flex;
    justify-content: space-between;
}

.footer_body nav ul {
    display: flex;

}

.footer_body nav ul li {
    margin: 0 15px;

}





footer p {
    font: 400 14px var(--openTit);
    letter-spacing: 0px;
    line-height: 22px;
    color: #8b8b8b;
}

.footer_body nav ul li a {
    font: 400 14px var(--montTit);
    letter-spacing: 0px;
    text-transform: uppercase;
    color: #323232;
    text-align: center;
    text-decoration: none;
}

.footer_body nav ul li a:hover {
    color: #fd4f32;
}